.LoginForm{
   display: flex;
   justify-content: center;
   align-items: center;
    padding: 4rem 0;
    background-color: #ECECF8;
    overflow: hidden;
}
.LoginForm-wrapper{
    max-width: 600px;
    background-color: var(--white);
    border: 1px solid #F1F1F1;
    border-radius: 0.3rem;
}
.LoginForm-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
}
.LoginForm-Form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    width: 550px;
    height: 3rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px 10px #F1F1F1;
}
.LoginForm-title-text{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
}
.LoginForm-FormBox{
    display: block;
}
.LoginForm-FormBox:nth-child(1){
    display: block;
    margin-top: 2rem;
}
.LoginForm-FormText{
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--black);
}
.LoginForm-FormInputIcon{
    display: flex;
    align-items: center;
    width: 550px;
    height: 2.5rem;
    margin: 0.3rem 0;
    border: 1px solid #F1F1F1;
    border-radius: 0.3rem;
    overflow: hidden;
}
.LoginForm-FormIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2.5rem;
    background-color: var(--blue-50);
    color: var(--white);
    font-size: 1.2rem;
}
.LoginForm-FormInput{
    outline: none;
    border: none;
    max-width: 100%;
    margin-right: 0.4rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--black);
}
.LoginForm-FormInput::placeholder{
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--black);
}
.LoginForm-FormCheckBox{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    font-weight: 700;
}
.LoginForm-Form-checkBox{
    margin-left: 0.4rem;
}
.LoginForm-Form-button{
    display: block;
    width: 100%;
    height: 2.5rem;
    margin: 1.5rem 0;
    outline: none;
    border: 1px solid #F1F1F1;
    border-radius: 0.4rem;
    background-color: var(--blue);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
    transition: all 0.3s ease;
}
.LoginForm-Form-button:hover{
    background-color: var(--blue-50);
}
.LoginForm-Form-Links{
    display: block;
    text-align: center;
    margin: 1rem auto;
}
.LoginForm-Form-LinksTexts{
    display: inline-block;
    margin-bottom: 1rem;
}
.LoginForm-Form-LinkText{
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
    margin-left: 0.4rem;
}
.LoginForm-Form-link{
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--blue-50);
    text-decoration: none;
    transition: all 0.4s ease;
}
.LoginForm-Form-link:hover{
    color: var(--blue);
}


 /*  Media Query  */

 @media only screen and (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}
@media only screen and (max-width: 992px) {
    .container{
        max-width: 720px;
    }
        
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    .LoginForm-Form-title{
        max-width: 100%;
    }
    .LoginForm-FormInputIcon{
        max-width: 400px;
    }
   
}
@media only screen and (max-width: 576px) {
    .container{
        max-width: 100%;
    }
    .LoginForm-FormInputIcon{
        max-width: 300px;
    }
}
