.navdown {
    margin: 1rem 0;
   background-color: var(--white);
}

.navdown-wrapper {}

.navdown-menus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.navdown-menu {
    margin: 0 2.5rem;
}

.navdown-menu-link {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
    transition: all 0.4s ease;
}
.navdown-menu-link:hover{
    color: var(--blue);
    transform: scale(1.1);
}



